<h1>Reservations</h1>
    <br><br>

     <th><b>Email:</b></th> <%= @reservation.email %> <br>
     <th><b>Message:</b></th> <%= @reservation.message %><br>
     <th><b>Time:</b></th> <%= @reservation.reserve_time %><br>
     <th><b>Date:</b></th> <%= @reservation.reserve_date %>
	<br><br>
     <th><%= link_to 'Home', root_path %></th>
   </div>
 </div>
 <br>
<%= flash[:success] %>